html {
	padding-left: 5px;
	/* background-color: #FFD59D; */
}

.head {
	width: 620px;
}

h1 {
	display: inline;
}

.button {
  background-color: #FF8E31;
  color: white;
	border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
	margin-right: 15px;
	font-size: 1em;
	font-family: verdana;
}

.button:hover, .button:active {
  background-color: #BE873F;
}

.surprise {
	padding: 6px 25px;
	/* margin-left: 150px; */
	float: right;
	background-color: orange;
}

form {
	width: 620px;
	margin-top: 30px;
}

.path {
  /* background-color: #BE633F; */
	/* margin-right: 15px; */
	/* padding: 0px; */
  padding: 5px 115px 2px 0px;
  /* display: inline-block; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  /* box-sizing: border-box; */
	/* padding: 0px; */
	/* border: none; */
}

.fileuploader {
	background-color: red;
	padding: 4px 5px;
	/* margin-right: 40px; */
}

.fileuploader-green {
	background-color: green;
	padding: 4px 5px;
	/* margin-right: 40px; */
}

.submit {
	/* padding: 4px 25px; */
	padding: 4px 60px;
	background-color: green;
	float: right;
}

.upload {
	margin-top: 50px;
	width: 610px;
}

.upload-item {
	display: block;
	/* width: 100%; */
	border-bottom-style: solid;
  border-width: 1px;
	width: 605px;
	/* padding: 2px 0px 2px 0px; */
}

.link {
	/* padding: 0px 100px 0px 0px; */
	margin-right: 300px;
}

.upload-buttons {
	float: right;
}

.delete {
	background-color: red;
	padding: 0px 20px;
	float:left;
	margin: 0px;
}

.jump {
	background-color: green;
	padding: 0px 25px;
	float:left;
	/* margin-left: 95px; */ 
	margin-right: 0px;
}

.fileuploader-input {
	display: none;
  /* background-color: #BE633F; */
  /* color: white; */
}


/* .fileuploader { */
/*   background-color: #BE633F; */
/*   color: white; */
/*   padding: 9px 25px; */
/*   display: inline-block; */
/*   text-align: center; */
/* } */

/* .fileuploader:hover, .fileuploader:active { */
/*   background-color: #BE873F; */
/* } */

/* B9A78F DBB27B FFD59D */

/* a:link, a:visited { */
/*   background-color: #BE633F; */
/*   color: white; */
/*   padding: 9px 25px; */
/*   text-align: center; */
/*   text-decoration: none; */
/*   display: inline-block; */
/* } */

